@model PerfumeStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Royal Fragrance: Cart";
}

<style>
    #cartTable td{ vertical-align:middle; }
</style>

<h2>Your Cart</h2>
<table id="cartTable" class="table" style="width:60%">
    <thead style="background-color:aliceblue; opacity:0.8">
        <tr>
            <th class="text-center">Quantity</th>
            <th class="text-left">Perfume name</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total price</th>
        </tr>
    </thead>
    <tbody style="background-color:aliceblue; opacity:0.85">
        @foreach (var line in Model.Cart.Lines)
         {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Perfume.HouseName @line.Perfume.PerfumeName</td>
                <td class="text-right">@line.Perfume.Price.ToString("# $")</td>
                <td class="text-right">@((line.Quantity * line.Perfume.Price).ToString("# $"))</td>
                <td class="text-center">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("PerfumeId", line.Perfume.PerfumeId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <button class="btn btn-sm btn-warning glyphicon glyphicon-trash" type="submit"></button>
                }
                </td>
            </tr>
         }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><strong><u>Total:</u></strong></td>
            <td class="text-right">
                <strong>
                     <u>@Model.Cart.ComputeTotalValue().ToString("# $")</u>
                </strong>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-left">
    <a class="btn btn-primary" href="@Model.ReturnUrl" style="margin: 5px">Continue shopping</a>
    <span class="glyphicon glyphicon-shopping-cart" style="font-size:20px; margin:5px"></span>
    @Html.ActionLink("Checkout", "Checkout", null, new { @class = "btn btn-success" }) 
</div>

