@model PerfumeStore.Domain.Entities.Perfume

@{
    ViewBag.Title = "Admin panel: Edit items";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel" style="background-color:transparent">

    <div class="navbar navbar-inverse">
        <h4 style="color:cornsilk; margin:15px"><u><strong>Edit perfume "@Model.HouseName @Model.PerfumeName"</strong></u></h4>
    </div>

    @using (Html.BeginForm("Edit", "Admin",
            FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.PerfumeId)

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "PerfumeId")
                {
                    switch (property.PropertyName)
                    {
                        case "PerfumeId":
                        case "ImageData":
                        case "ImageMimeType":
                            // To do nothing
                            break;
                        default:
                            <div class="form-group" style="font-size:20px">
                                <ul>
                                    <li>
                                        <label style="text-decoration: underline">@(property.DisplayName ?? property.PropertyName)</label>
                                    </li>
                                </ul>
                                @if (property.PropertyName == "Description")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                        new { @class = "form-control", rows = 5 })
                                }
                                else
                                {
                                    @Html.TextBox(property.PropertyName, null,
                                        new { @class = "form-control" })
                                }

                                @Html.ValidationMessage(property.PropertyName)
                            </div>
                            break;
                    }
                }
            }
        </div>
        <div class="form-group">
            <div style="position:relative;">
                <label>Image</label>
                <a class='btn' href='javascript:;'>
                    Choose file...
                    <input type="file" name="Image" size="40"
                           style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                           onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            @if (Model.ImageData == null)
            {
                <div class="form-control-static">No image</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150"
                     src="@Url.Action("GetImage", "Perfume",
                        new { Model.PerfumeId })" />
            }
        </div>

        <div class="panel-footer navbar-inverse">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel changes and return to the list", "Index", null, new
               {
                    @class = "btn btn-default"
               })
        </div>
    }
</div>

<footer class="text-center label-info" style="background-color:transparent; width:100%">
    <strong><u><i>© Copyright 2023 by Royal Fragrance Team. All Rights Reserved.</i></u></strong>
</footer>

