@using PerfumeStore.Domain.Entities
@model IEnumerable<Perfume>

@{
    ViewBag.Title = "Fragrances";
}

@foreach (var p in @Model)
{
    <div>
        <hr />
        <h3><u>@p.Name</u></h3>
        <p>@p.Description</p>
        <p>Longevity - @p.Longevity, Sillage - @p.Sillage</p>
        <p>Country - @p.Country, Volume - @p.Volume, Gender - @p.Gender</p>
        <h4>Actual price - @p.Price.ToString("# $")</h4>
        <hr />
    </div>
}